@charset "UTF-8";
/* Змінні */
/* Напівпрозорий колір для хедера */
/* Зменшена прозорість фону контейнера */
/* Основні стилі */
body {
    background-image: url(images/background.jpeg);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4); /* Зменшена прозорість */
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Хедер */
header {
  text-align: center;
  background-color: rgba(204, 138, 132, 0.85); /* Напівпрозорий колір */
  color: #333;
  padding: 30px;
}
header h1 {
  margin: 0;
  font-size: 2em;
}

/* Контент */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.content .card {
  background-color: rgba(255, 255, 255, 0.4); /* Зменшена прозорість */
  padding: 20px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

/* Кнопка */
button {
  background-color: rgba(204, 138, 132, 0.9); /* Напівпрозорий колір для кнопки */
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
button:hover {
  background-color: rgba(204, 138, 132, 0.7); /* Зменшена непрозорість при наведенні */
}

/* Футер */
footer {
  text-align: center;
  background-color: rgba(51, 51, 51, 0.8); /* Напівпрозорий фон для футера */
  color: #333;
  padding: 15px;
  margin-top: 20px;
  font-size: 1em;
}