/* Змінні */
:root {
  --primary-color: rgba(204, 138, 132, 0.85); /* Напівпрозорий колір для хедера */
  --text-color: #fff;
  --highlight-color: #e67e22;
  --bg-dark: rgba(0, 0, 0, 0.6); /* Темний прозорий фон для тексту */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: url(images/background.jpeg);
}

/* Основні стилі */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: rgba (204, 138, 132, 0.85);
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: var(--box-shadow);
  border: 2px solid rgba(255, 255, 255, 0.4); /* Напівпрозора біла рамка */
  border-radius: 8px; /* Закруглені кути для рамки */
}

.navbar a {
  color: var(--text-color);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--highlight-color);
}

.hero {
  background-image: url(images/background.jpeg); /* Вставте шлях до вашого фонового зображення */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  text-align: center;
  padding: 20px;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-dark); /* Темний прозорий фон */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 40px  20px;
  box-shadow: var(--box-shadow);
  background-color: rgba(0, 0, 0, 0.5); /* Додаємо легкий фон для покращення читабельності */
  border-radius: 15px; /* Закруглені кути для стилю */
  border: 2px solid rgba(255, 255, 255, 0.4); /* Напівпрозора біла рамка */
}

.highlight {
  color: var(--highlight-color);
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
  display: block;
}

h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
  line-height: 1.2;
}

p {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

button {
  background-color: var(--highlight-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #cf6a1c; /* Трохи темніший відтінок для hover */
}
